.container {
  margin-top: 20px;
  width: 60%;
  margin: 2rem auto;
  font-family: Helvetica, sans-serif;
}

.container button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 15px;
  outline: none;
  border-color: transparent;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}


.container button:hover {
  background-color: teal;
  cursor: pointer;
}

.input-container {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  margin-top: 15px;
}

.input-container label {
  margin-left: 5px;
  font-weight: bold;
}

.input-container input {
  padding: 10px;
  border-radius: 15px;
  outline: none;
  border: 1px solid #ccc;
}
